@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
        url('assets/fonts/lato-v16-latin-300.woff2') format('woff2'),
        url('assets/fonts/lato-v16-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url('assets/fonts/lato-v16-latin-regular.woff') format('woff'),
        url('assets/fonts/lato-v16-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url('assets/fonts/lato-v16-latin-700.woff2') format('woff2'),
        url('assets/fonts/lato-v16-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
        url('assets/fonts/lato-v16-latin-900.woff2') format('woff2'),
        url('assets/fonts/lato-v16-latin-900.woff') format('woff');
}



body {
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1020px;
}

.header {
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: fixed;
    z-index: 100;
    width: 100%;
    max-width: inherit;
    top: 0;
    transition: all 0.5 ease;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.nav_burger {
    display: none;
}

.burger-menu_nav {
    display: none;
}

.nav_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-family: Lato-Black, "Lato";
    color: #ffF;
}

span {
    color: #f06c64;
}


.menu-item {
    display: block;
    margin-left: 29px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;

}

.menu-item a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Lato";
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    line-height: 6px;
}


li a.active {
    color: #f06c64;
}

.menu-item a:hover {
    color: #f06c64;
    transition: all .5s;
}

.menu-item::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background-color: #494E62;
    position: absolute;
    top: 10px;
    left: -15px;
}

.menu-item:first-child::before {
    display: none;
}

.slider {
    margin-top: 95px;
    height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    position: relative;
    overflow: hidden;
}

.item-container {
    position: relative;
}

.item_slider {
    display: none;
    position: relative;
    animation: .5s ease-in-out;
}

.item-container .active,
.item-container .next {
    display: block;
}

.item-container .next {
    position: absolute;
    top: 0;
    width: 100%;
}


.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}



.iphone-vertical {
    position: absolute;
    top: 53px;
    left: 111px;
}

.phone-ver,
.img-horizontal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.iphone-vertical-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.screen-vertical {
    position: absolute;
    width: 194px;
    height: 339px;
    border: 3px solid #C6C6C6;
    border-radius: 5px;
    top: 62px;
    left: 11px;
    background-image: url(assets/img/Layer%206.jpg);
    background-position: -13px -135px;
    background-repeat: no-repeat;
    z-index: 11;
    background-color: #aaa;
}


.iphone-horizontal {
    width: 483px;
    height: 240px;
    position: absolute;
    top: 174px;
    right: 111px;
}

.iphone-horizontal-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.screen-horizontal {
    position: absolute;
    width: 339px;
    height: 194px;
    border: 3px solid #C6C6C6;
    border-radius: 5px;
    top: 11px;
    left: 55px;
    background-image: url(assets/img/Layer%205.jpg);
    background-position: -125px -120px;
    background-repeat: no-repeat;
    z-index: 11;
}

.screen-black {
    background-image: none;
    background-color: #000000;
}

.arrow-right,
.arrow-left {
    display: block;
    width: 16px;
    height: 27px;
    position: absolute;
    cursor: pointer;
    z-index: 30;
}

.arrow-left {
    position: absolute;
    top: 280px;
    left: 40px;
    background-image: url(assets/img/chev.png);
}

.arrow-right:hover {
    background-image: url(assets/img/chev-r.png);
    transition: all .5s;
}

.arrow-right {
    position: absolute;
    top: 280px;
    right: 40px;
    background-image: url(assets/img/chev-1-bg.png);
}

.arrow-left:hover {
    background-image: url(assets/img/chev-black.png);
    transition: all .5s;
}

.services,
.about-us {
    margin-top: -30px;
    height: 500px;
    background-color: #f2f2f2;
    color: #666d89;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: Lato-Bold, "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 74px;
}

.serv_info p,
.portfolio_info p,
.about-us_info p,
.contact_info p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: Lato-Light, "Lato";
    font-weight: 300;
    text-align: justify;
    margin-top: 28px;
}

.serv_items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
}

.serv_item-img {
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #666d89;
    border-radius: 50%;
    background-image: url(assets/img/pen@1X.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bulb {
    background-image: url(assets/img/bulb@1X.png);
}

.heart {
    background-image: url(assets/img/heart@1X.png);
}

.phone {
    background-image: url(assets/img/phone@1X.png);
}

.bubble {
    background-image: url(assets/img/bubble@1X.png);
}

.star {
    background-image: url(assets/img/star@1X.png);
}

.serv_item {
    height: 87px;
    width: calc((100% - 40px) / 3);
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-right: 20px;
    overflow: hidden;
}

.serv_item:nth-child(3n) {
    margin-right: 0;
}

.serv_item-content {
    width: calc(100% - 80px);
}

h3 {
    font-size: 18px;
    font-family: Lato-Bold, "Lato";
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.serv_item-content p,
.author_name p,
.contact_information p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    margin-top: 6px;
}

.portfolio {
    margin-top: -20px;
    background-color: #2D303A;
    height: 874px;
    border-bottom: 7px solid #323746;
}

.portfolio_buttons {
    margin-top: -8px;
}

.button {
    display: inline-block;
    border: 1px solid #767E9E;
    border-radius: 5px;
    margin-right: 7px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 6px;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    color: #767E9E;
}

.border {
    outline: 5px solid #F06C64;
    outline-offset: 3px;
}

.portfolio_buttons .active {
    color: #fff;
    border: 1px solid #fff;
}

.button:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
}

.portfolio_works {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio_work {
    display: block;
    width: 221px;
    height: 187px;
    overflow: hidden;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;

}

.portfolio_works :nth-child(n+13) {
    display: none
}

.work1 {
    background-image: url(assets/img/Project.jpg);
    background-position: center -10px;
}

.work2 {
    background-image: url(assets/img/Project1.jpg);
    background-position: -83px center;
}

.work3 {
    background-image: url(assets/img/Project2.jpg);
    background-position: -5px top;
}

.work4 {
    background-image: url(assets/img/Project3.jpg);
}

.work5 {
    background-image: url(assets/img/Project4.jpg);
    background-position: center -15px;
}

.work6 {
    background-image: url(assets/img/Project5.jpg);

}

.work7 {
    background-image: url(assets/img/Project6.jpg);
    background-position: -28px -40px;
}

.work8 {
    background-image: url(assets/img/Project7.jpg);
    background-position: -25px -34px;
}

.work9 {
    background-image: url(assets/img/Project8.jpg);
}

.work10 {
    background-image: url(assets/img/Project9.jpg);
    background-position: -140px -113px;
}

.work11 {
    background-image: url(assets/img/Project10.jpg);
    background-position: -140px -175px;
}

.work12 {
    background-image: url(assets/img/Project11.jpg);
    background-position: -35px -62px;
}

.about-us {
    margin-top: -25px;
    height: 736px;
    border-bottom: 7px solid #FFFFFF;
}

.about-us_author {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;

}

.about-us_info h2 {
    padding-top: 69px;
}

.author_icon {
    display: flex;
    margin-top: 25px;
}

.icon {
    width: 33px;
    height: 33px;
    border: 1px solid #666D89;
    border-radius: 50%;
    margin-right: 7px;
    text-align: center;
    padding-top: 7px;
}

.author_name {
    max-width: 301px;
    margin-top: 10px;
}

.author_name p {
    margin-top: 8px;
}

.icon-facebook {
    background-image: url(assets/img/facebook1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon:hover {
    cursor: pointer;
    background-color: #666D89;
    background-image: url(assets/img/facebook.svg);
}

.icon-google {
    background-image: url(assets/img/google+1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-google:hover {
    background-image: url(assets/img/google+.svg)
}

.icon-twitter {
    background-image: url(assets/img/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-twitter:hover {
    background-image: url(assets/img/twitter1.svg)
}

.icon-linkedin {
    background-image: url(assets/img/linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-linkedin:hover {
    background-image: url(assets/img/linkedin1.svg)
}

.contact {
    margin-top: -27px;
    background-color: #f06c64;
    height: 673px;
    border-bottom: 6px solid #EA676B;
}



.contact_info p,
.contact_info h2 {
    color: #F0D8D9;
}

.contact_info h2 {
    padding-top: 69px;
}

.contact_info {
    margin-bottom: 28px;
}

.contact_wrapper {
    display: flex;
    color: #F0D8D9;
}

.contact_information {
    padding-top: 15px;
    margin-left: 17px;
}

.contact_information p {
    color: #F0D8D9;
}

.contact_information p a {
    color: #F0D8D9;
    text-decoration: none;


}

.contact_form form {
    width: 620px;
}

input,
textarea {
    width: 100%;
    height: 39px;
    margin-top: 15px;
    background-color: #D6564F;
    border: none;
    border-radius: 5px;
    padding-left: 14px;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

textarea::placeholder {
    padding-top: 6px;
}

textarea {
    height: 202px;
    resize: none;
}

.colortext {
    color: #f48c8f;
}

#message_block {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 2800px;
    left: 0;
    background: rgba(000, 000, 000, 0.8);
}

#message_block.hidden {
    display: none;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #000;
    text-align: center;
}

.footer {
    margin-top: -20px;
    background-color: #2d303a;
    height: 77px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy {
    color: #666D89;
    font-family: "Lato";
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 17px;
}

.footer_icon {
    display: flex;
    margin-top: 23px;
}

.footer_icon .icon:last-child {
    margin-right: 0;
}



@media (max-width: 1019px) {
    .container {
        width: 88.2vw;
    }

    .slider {
        height: 58vw;
    }

    .img-slide {
        width: 100vw;
    }

    .iphone-vertical {
        top: 5.2vw;
        left: 10.88vw;
    }

    .phone-ver {
        width: 21.08vw;
        height: 44.90vw;
    }

    .screen-vertical {
        width: 19.02vw;
        height: 33.23vw;
        border-radius: 0.5vw;
        top: 6.08vw;
        left: 1.08vw;
        background-position: -1.27vw -13.23vw;
        background-size: 56.86vw;
    }

    .iphone-vertical-shadow {
        width: 23.53vw;
        height: 47.35vw;
    }


    .iphone-horizontal {
        width: 47.35vw;
        height: 23.53vw;
        top: 17.06vw;
        right: 10.88vw;
    }

    .iphone-horizontal-shadow {
        height: 23.53vw;
        width: 47.35vw;
    }

    .img-horizontal {
        height: 21.08vw;
        width: 44.90vw;
    }

    .screen-horizontal {
        width: 33.23vw;
        height: 19.02vw;
        border-radius: 0.5vw;
        top: 1.08vw;
        left: 5.39vw;
        background-position: -12.25vw -11.76vw;
        background-size: 56.86vw;
    }

    .arrow-left {
        top: 27.45vw;
        left: 3.92vw;
    }

    .arrow-right {
        top: 27.45vw;
        right: 3.92vw;
    }

    h2 {
        padding-top: 6.8vw;
    }

    .serv_info p,
    .portfolio_info p,
    .about-us_info p,
    .contact_info p {
        text-align: start;
    }

    .services {
        height: 694px;
    }

    .serv_items {
        margin-top: 35px;
    }

    .serv_item {
        width: calc((100% - 53px) / 2);
        height: 104px;
        margin-right: 42px;
        padding-right: 15px;
        margin-bottom: 40px;
    }

    .serv_item:nth-child(3n) {
        margin-right: 42px;
    }

    .serv_item:nth-child(2n) {
        margin-right: 0;
    }

    .portfolio {
        /*        height: 1102px;*/
        height: 140.4vw;
        overflow: hidden;
    }

    .portfolio_works {
        margin-top: 10px;
    }

    .portfolio_work {
        width: calc((100% - 40px) / 3);
        height: 23.5vw;
        margin-right: 20px;
        background-size: cover;
    }

    .portfolio_work:nth-child(3n) {
        margin-right: 0;
    }

    .portfolio_info h2 {
        padding-top: 43px;
    }

    .portfolio_info p {
        text-align: start;
        letter-spacing: 1.1px;
    }

    .work1 {
        background-image: url(assets/img/Project.jpg);
        background-position: center -10px;
    }

    .work2 {
        background-image: url(assets/img/Project1.jpg);
        background-position: center;
    }

    .work3 {
        background-image: url(assets/img/Project2.jpg);
        background-position: -5px top;
    }

    .work4 {
        background-image: url(assets/img/Project3.jpg);
    }

    .work5 {
        background-image: url(assets/img/Project4.jpg);
        background-position: center -15px;
    }

    .work6 {
        background-image: url(assets/img/Project5.jpg);

    }

    .work7 {
        background-image: url(assets/img/Project6.jpg);
        background-position: center;
    }

    .work8 {
        background-image: url(assets/img/Project7.jpg);
        background-position: center;
    }

    .work9 {
        background-image: url(assets/img/Project8.jpg);
    }

    .work10 {
        background-image: url(assets/img/Project9.jpg);
        background-position: center;

        background-size: cover;
    }

    .work11 {
        background-image: url(assets/img/Project10.jpg);
        background-position: center;
    }


    .work12 {
        background-image: url(assets/img/Project11.jpg);
        background-position: center;
    }

    .author {
        width: 28.3vw;
        margin-right: 14.5px;
    }

    .about-us {
        height: 672px;
    }

    .about-us_info h2 {
        padding-top: 60px;
    }

    .about-us_author {
        margin-top: 39px;

    }

    .author_name {
        margin-top: 5px;
    }

    .author_name p {
        margin-top: 2px;
    }

    .author:nth-child(3n) {
        margin-right: 0;
    }


    .author_foto {
        width: 28.3vw;
    }

    .author_icon {
        margin-top: 8px;
    }

    .contact {
        height: 651px;
    }

    .contact_form form {
        width: 56.3vw;

    }

    textarea {
        height: 159px;
    }

    .contact_wrapper {
        margin-top: -15px;
    }

    input,
    textarea {
        margin-top: 12px;
    }

    .contact_info h2 {
        padding-top: 66px;
    }

    .contact_information {
        padding-top: 10px;
        margin-left: 27px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 80vw;
    }

    .header {
        height: 71px;
    }

    /*
    .nav_menu .active {
        display: block;
    }
*/

    .nav_menu {
        display: none;
    }

    .nav_burger {
        display: block;
        position: absolute;
        width: 25px;
        height: 20px;
        top: 26px;
        left: 20px;
        z-index: 999;
        transition: 0.4s;
    }

    /*
    .nav_burger.active {
        transform: rotate(90deg);   
    }
*/
    .burger-menu_nav {
        position: fixed;
        width: 74.1%;
        height: 100%;
        z-index: 101;
        padding-top: 195px;
        display: block;
        background-color: #2D303A;
        overflow-y: auto;
        left: -100%;
        transition: 0.5s;
    }

    .burger-menu_active .burger-menu_nav {
        left: 0;
    }

    .nav_burger::after,
    .nav_burger::before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2.4px;
        left: 0;
    }

    .nav_burger::after {
        bottom: 0;
    }

    .nav_burger::before {
        top: 0;
    }

    .nav_burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2.4px;
        top: 9px;
    }

    .burger-menu_active .nav_burger {
        transform: rotate(90deg);
    }

    .nav {
        justify-content: center;
        /*            padding-top: 0;*/
    }

    .nav h1 {
        font-size: 19.65px;
    }

    .burger-menu_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: 50;
        background: #2D303A;
        opacity: 0.6;
    }

    .burger-menu_active .burger-menu_overlay {
        display: block;
    }

    .burger-menu_active .menu-item a {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 48px;
        letter-spacing: -0.035em;
    }
    .burger-menu_active .menu-item::before{
        display: none;
    }

    .slider {
        margin-top: 71px;
        border-bottom: 2px;
    }

    .services {
        height: 1052px;
        /*        overflow: hidden;*/
    }

    .serv_item {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .serv_item:nth-child(3n) {
        margin-right: 0;
    }

    .arrow-right,
    .arrow-left {
        width: 14px;
        height: 24px;
        background-size: 14px 24px;
    }

    .arrow-left {
        top: 26.2vw;
        left: 2.6vw;
    }

    .arrow-right {
        top: 26.2vw;
        right: 2.6vw;
    }

    h2 {
        padding-top: 9vw;
    }

    .portfolio {
        height: 215vw;
    }

    .portfolio_info h2 {
        padding-top: 28px;
    }

    .portfolio_info p {
        letter-spacing: 0;
    }

    .portfolio_work {
        width: calc((100% - 13px) /2);
        height: 33.13vw;
        margin-right: 13px;
        margin-top: 13px;
    }

    .portfolio_work:nth-child(2n) {
        margin-right: 0;
    }

    .portfolio_works :nth-child(n+9) {
        display: none
    }

    .work3 {
        background-image: url(assets/img/Project2.jpg);
        background-position: center top;
    }

    .author {
        width: 100%;
    }

    .about-us {
        height: 450vw;
    }

    .about-us_author {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about-us_info h2 {
        padding-top: 45px;
    }

    .author_foto {
        width: 100%;
    }

    .about-us_author {
        margin-top: 25px;

    }

    .author_name {
        margin-top: 13px;
    }

    .author_name p {
        margin-top: 3px;
    }

    .author_icon {
        margin-bottom: 33px;
    }

    .contact {
        height: 991px;
    }

    .contact_wrapper {
        flex-direction: column;
    }


    .contact_form form {
        width: 100%;

    }

    .contact_info h2 {
        padding-top: 55px;
    }

    .colortext {
        height: 50px;
        margin-top: 9px;
        margin-bottom: 20px;
    }

    .contact_information {
        margin-left: 0;

    }

    .copy {
        display: none;
    }

    .footer_wrapper {
        justify-content: center;
    }

}
